@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-sky-100)
}

.underlined{
  border-bottom: 2px solid rgb(56, 189, 248);
}
.underlined_data{
  border-bottom: 1px solid rgb(210, 210, 255);
}
.modal_data{
  display: flex;
  justify-content: space-between;
}
.border_data{
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(210, 210, 255);
}
/* .container{

} */
 .inputs{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: #3E6BA8;
  
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
 }
 .inputs option{
  color: #3E6BA8;
  opacity: 0.7;
 }
 .inputs:valid {
  color: #314D8B; /* darker after selection */
}
 .inputs::placeholder{
  color: #3E6BA8;
 }
 input:focus {
  border-color: #3E6BA8; /* sky-400 */
  box-shadow: 0 0 0 3px rgba(56, 189, 248, 0.4); /* focus ring */
}